In [1]:
import pandas as pd

df = pd.read_csv('StudentsPerformance.csv')

In [17]:
df['lunch'].value_counts(normalize=True)

standard        0.645
free/reduced    0.355
Name: lunch, dtype: float64

In [38]:
df.groupby('lunch').var()

              math score  reading score  writing score
lunch
free/reduced  229.824270     221.871139     238.202881
standard      186.418089     191.285560     205.620887

In [39]:
df.groupby('lunch').mean()

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256